<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GardenLawn\MailSync\Api\MessageRepositoryInterface" type="GardenLawn\MailSync\Model\MessageRepository"/>
    <preference for="GardenLawn\MailSync\Api\FolderRepositoryInterface" type="GardenLawn\MailSync\Model\FolderRepository"/>
    <preference for="GardenLawn\MailSync\Api\MailSenderInterface" type="GardenLawn\MailSync\Service\MailSender"/>

    <!-- Global Mail Transport Override -->
    <preference for="Magento\Framework\Mail\TransportInterface" type="GardenLawn\MailSync\Model\Mail\Transport"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gardenlawn_mailsync_sync" xsi:type="object">GardenLawn\MailSync\Console\Command\SyncCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- UI Component Data Source Configuration -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gardenlawn_mailsync_message_listing_data_source" xsi:type="string">GardenLawn\MailSync\Model\ResourceModel\Message\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
