<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GardenLawn\MailSync\Api\MessageRepositoryInterface" type="GardenLawn\MailSync\Model\MessageRepository"/>
    <preference for="GardenLawn\MailSync\Api\FolderRepositoryInterface" type="GardenLawn\MailSync\Model\FolderRepository"/>
    <preference for="GardenLawn\MailSync\Api\MailSenderInterface" type="GardenLawn\MailSync\Service\MailSender"/>

    <!-- Global Mail Transport Override -->
    <preference for="Magento\Framework\Mail\TransportInterface" type="GardenLawn\MailSync\Model\Mail\Transport"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gardenlawn_mailsync_sync" xsi:type="object">GardenLawn\MailSync\Console\Command\SyncCommand</item>
                <item name="gardenlawn_mailsync_reset" xsi:type="object">GardenLawn\MailSync\Console\Command\ResetCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- UI Component Grid Configuration -->
    <virtualType name="GardenLawnMailSyncMessageGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">GardenLawn\MailSync\Model\ResourceModel\Message\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">GardenLawnMailSyncMessageGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="GardenLawnMailSyncMessageGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="GardenLawnMailSyncMessageGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gardenlawn_mailsync_message</argument>
            <argument name="resourceModel" xsi:type="string">GardenLawn\MailSync\Model\ResourceModel\Message</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gardenlawn_mailsync_message_listing_data_source" xsi:type="string">GardenLawnMailSyncMessageGridCollection</item>
            </argument>
        </arguments>
    </type>
</config>
